.image {
    height: 30px;
    width: 30px
}

.first {
    height: 100px;
    float:right; /* add this */
    border: 1px solid red;
    padding-top: 0px;
    display: inline;
    grid-auto-flow: inherit
    
}
.second {
    border: 1px solid green;
    float: left; /* add this */
}